@tailwind base;
@tailwind components;

@font-face {
  font-family: 'body-regular';
  src: url('../assets/Font/averta-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'body-bold';
  src: url('../assets/Font/averta-bold.woff2') format('woff2');
}

@font-face {
  font-family: 'head-black';
  src: url('../assets/Font/head-black.woff') format('woff');
}

@font-face {
  font-family: 'head-light';
  src: url('../assets/Font/head-light.woff') format('woff');
}

@font-face {
  font-family: 'head-medium';
  src: url('../assets/Font/head-medium.woff') format('woff');
}

* {
  font-family: 'body-regular';
}
.button-btn {
  background: #cc6fce;
  font-weight: 100;
  color: #fef8ed;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  line-height: 45px;
  max-width: 160px;
  width: 100%;
  height: 60px;
  border-radius: 40px;
}
.button-btn svg {
  height: 30px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  border-radius: 40px;
}
.button-btn rect {
  left: 0;
  position: absolute;
  top: 0;
  fill: none;
  stroke: #30194f;
  stroke-width: 2;
  stroke-dasharray: 422, 0;
  transition: all 0.35s linear;
  border-radius: 9999px;
}

rect {
  fill: none;
  stroke: #30194f;
  stroke-width: 2;
  stroke-opacity: 0;
  stroke-dasharray: 422, 0;
  transition: all 0.35s linear;
}
.button-btn:hover {
  font-weight: 900;
  letter-spacing: 1px;
}
.button:hover rect {
  stroke-width: 10;
  stroke-dasharray: 30, 310;
  stroke-opacity: 1;
  stroke-dashoffset: 125;
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  border-radius: 9999px;
}

@tailwind utilities;

.valid {
  @apply text-red-600 text-sm absolute right-4;
}

.text-field {
  @apply border-2 border-[#C996CC] hover:border-[#cc6fce] rounded-full px-7 py-3 focus:ring-0 focus:border-[#cc6fce] w-full;
}
/* 
.label {
  @apply text-base text-gray-500 left-[10%] top-[25%];
} */
